.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}

.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.container {
  max-width: 100% !important;
}

.form-well {
  border-radius: 3px;
  border: 1px solid rgba(96, 125, 139, 0.35);
  padding-bottom: 1em;
  background-color: rgba(120, 144, 156, 0.1);
}

.iban-inputs input {
  max-width: 55px;
  display: inline-block;
}

.birthay-inputs input {
  max-width: 45px;
  display: inline-block;
}

.birthay-inputs .birthay-inputs-year {
  max-width: 70px;
}

.birthay-inputs .birthay-inputs-city {
  max-width: 200px;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.table th {
  color: #fff;
}

.table td, .table th {
  text-align: center;
}

tr>td.hiddenRow {
  padding: 0!important;
}

.tableCollapsed .table {
  padding: 0;
  margin: 0;
}

.tableCollapsed td {
  font-weight: bold;
}

.table {
  /*table-layout: fixed;*/
  /*word-wrap: ;*/
}


.header-form {
  /*background-color: #455A64;*/
  width: 100%;
  padding: 0.3em 1em;
  margin-bottom: 1em;
}

.title-header-form {
  font-weight: bold;
  text-transform: uppercase;
  color: white;

}

.control-label.required:after {
  color: #d00;
  content: "*";
  margin-left: 3px;
}

.form-horizontal .panel-body {
  background-color: rgba(231, 231, 231, 0.20);
}

.form-horizontal .panel {
  margin: 0;
  padding: 0;
}

.form-costum .control-label {
  font-weight: bold;
  text-align: left !important;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand {
  color: #fff;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a {
  color: #fff;
}
