<tr>
  <td>{{mandat.MandateNumber}}</td>
  <td>{{mandat.SignedDate}}</td>
  <td>{{mandat.BIC}}</td>
  <td>{{mandat.IBAN}}</td>
  <td>{{mandat.AccountTitle}}</td>
  <td>{{mandat.Status}}</td>
  <td>{{mandat.NextStatus}}</td>
  <td>{{mandat.Delay}}</td>
  <td>
    <a href="" ng-click="toogleVisibility()"><i class="glyphicon" ng-class="{'glyphicon-plus-sign text-success': !showPannel, 'glyphicon-minus-sign text-danger': showPannel}"></i></a>
    <a ng-href="#/{{banque}}/arrive/mandat-operation/{{mandat.MandateNumber}}"><i class="glyphicon" ng-class="{'glyphicon-search': !showPannel, 'hidden': showPannel}"></i></a>
  </td>
</tr>
<tr ng-show="showPannel">
  <td colspan="9" class="hiddenRow tableCollapsed">
    <div id="demo3">
      <table class="table table-bordered text-center">
        <tbody>
        <tr class="active">
          <td class="text-uppercase">Vue opérations</td>
          <td>Prélèvement reçus</td>
          <td>{{mandat.OperationView.NbDirectDebit}}</td>
          <td>Virements émis</td>
          <td>{{mandat.OperationView.NbReceivedCreditTransfer}}</td>
          <td>Virements reçus</td>
          <td>{{mandat.OperationView.NbSentCreditTransfer}}</td>
          <td>Chèques non débités</td>
          <td>{{mandat.OperationView.Nbcheck}}</td>
          <td class="text-center">
            <a ng-href="#/{{banque}}/arrive/mandat-operation/{{mandat.MandateNumber}}"><i class="glyphicon glyphicon-search"></i></a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </td>
</tr>
