<h2 class="text-center">FORMS</h2>

<form action="" class="form-horizontal form-costum">
  <div class="row form-well">
    <div class="header-form">
      <h5>Compte d’arrivée</h5>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label class="col-sm-2 control-label">Type</label>
        <div class="col-sm-10">
          <select class="form-control">
            <option>Individuel</option>
            <option>Individuel 2</option>
            <option>Individuel 3</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Intitulé</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" placeholder="Text input">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">IBAN</label>
        <div class="col-sm-10 iban-inputs">
              <input type="text" class="form-control" placeholder="">
              <input type="text" class="form-control" placeholder="">
              <input type="text" class="form-control" placeholder="">
              <input type="text" class="form-control" placeholder="">
              <input type="text" class="form-control" placeholder="">
              <input type="text" class="form-control" placeholder="">
              <input type="text" class="form-control" placeholder="">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">BIC</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" placeholder="CEPAFRPP000">
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label class="col-sm-2 control-label">Adresse</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" placeholder="Banque X place de la bourse">
          <input type="text" class="form-control" placeholder="">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Pays</label>
        <div class="col-sm-10">
          <select class="form-control">
            <option>France</option>
            <option>Portugal</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="row form-well">
    <div class="header-form">
      <h5>Compte de départ</h5>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label class="col-sm-2 control-label">Type</label>
        <div class="col-sm-10">
          <select class="form-control">
            <option>Individuel</option>
            <option>Individuel 2</option>
            <option>Individuel 3</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Intitulé</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" placeholder="Text input">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">IBAN</label>
        <div class="col-sm-10 iban-inputs">
          <input type="text" class="form-control" placeholder="">
          <input type="text" class="form-control" placeholder="">
          <input type="text" class="form-control" placeholder="">
          <input type="text" class="form-control" placeholder="">
          <input type="text" class="form-control" placeholder="">
          <input type="text" class="form-control" placeholder="">
          <input type="text" class="form-control" placeholder="">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">BIC</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" placeholder="CEPAFRPP000">
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label class="col-sm-2 control-label">Adresse</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" placeholder="Banque X place de la bourse">
          <input type="text" class="form-control" placeholder="">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Pays</label>
        <div class="col-sm-10">
          <select class="form-control">
            <option>France</option>
            <option>Portugal</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="row form-well">
    <div class="header-form">
      <h5>Titulaire</h5>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label class="col-sm-2 control-label">Nom Prénom</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" placeholder="Text input">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Né(e) le</label>
        <div class="col-sm-10">
          <div class="row">
            <div class="col-md-2">
              <input type="text" class="form-control" placeholder="Text input">
            </div>
            <div class="col-md-2">
              <input type="text" class="form-control" placeholder="Text input">
            </div>
            <div class="col-md-2">
              <input type="text" class="form-control" placeholder="Text input">
            </div>
            <div class="col-md-6">
              <div class="row">
                <div class="col-xs-2">
                  <span>à</span>
                </div>
                <div class="col-xs-10">
                  <input type="text" class="form-control form-inline" placeholder="Paris">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Pays de naissance</label>
        <div class="col-sm-10">
          <select class="form-control">
            <option>France</option>
            <option>Portugal</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Téléphone fixe</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" placeholder="Text input">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Téléphone portable</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" placeholder="Text input">
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label class="col-sm-2 control-label">Adresse</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" placeholder="Banque X place de la bourse">
          <input type="text" class="form-control" placeholder="">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Pays</label>
        <div class="col-sm-10">
          <select class="form-control">
            <option>France</option>
            <option>Portugal</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Adresse email</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" placeholder="Text input">
        </div>
      </div>
    </div>
  </div>

  <button type="submit" class="btn btn-default">Ajouter un titulaire</button>
  <button type="submit" class="btn btn-default">Ajouter un mandataire</button>
  <button type="submit" class="btn btn-default">Valider</button>
</form>

<hr>

<h3>TABLES</h3>

<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>N° du mandat</th>
      <th>Signé le</th>
      <th>BIC</th>
      <th>IBAN</th>
      <th>Intitulé du compte</th>
      <th>Statut</th>
      <th>Prochain statut</th>
      <th>Avant</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>FRPPCEPAXX2015111001</td>
      <td>19/11/2015</td>
      <td>CEPAFRPP001</td>
      <td>FR1234567890123456789000000</td>
      <td>M Georges Banks</td>
      <td>Signé</td>
      <td>Transmis</td>
      <td>1j</td>
      <td>
        <span class="glyphicon glyphicon-plus"></span>
        <span class="glyphicon glyphicon-search"></span>
      </td>
      <div class="hidden">
        <table>
          <tr>
            <td>Vue opérations</td>
          </tr>
          <tr>
            <td>Vue émetteurs</td>
          </tr>
        </table>
      </div>
    </tr>
    </tbody>
  </table>
</div>
