<div class="row-fluid">
  <form action="" class="form-horizontal">
    <div class="row well">
      <h5>Compte d’arrivée</h5>
      <hr>
      <div class="col-md-6">
        <div class="form-group">
          <label class="col-sm-2 control-label">Type</label>
          <div class="col-sm-10">
            <select class="form-control">
              <option>Individuel</option>
              <option>Individuel 2</option>
              <option>Individuel 3</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Intitulé</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" placeholder="Text input">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">IBAN</label>
          <div class="col-sm-10">
            <div class="row">
              <div class="col-xs-2">
                <input type="text" class="form-control" placeholder="">
              </div>
              <div class="col-xs-2">
                <input type="text" class="form-control" placeholder="">
              </div>
              <div class="col-xs-2">
                <input type="text" class="form-control" placeholder="">
              </div>
              <div class="col-xs-2">
                <input type="text" class="form-control" placeholder="">
              </div>
              <div class="col-xs-2">
                <input type="text" class="form-control" placeholder="">
              </div>
              <div class="col-xs-2">
                <input type="text" class="form-control" placeholder="">
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">BIC</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" placeholder="CEPAFRPP000">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="col-sm-2 control-label">Adresse</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" placeholder="Banque X place de la bourse">
            <input type="text" class="form-control" placeholder="">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Pays</label>
          <div class="col-sm-10">
            <select class="form-control">
              <option>France</option>
              <option>Portugal</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <hr>

    <div class="row well">
      <h5>Compte de départ</h5>
      <hr>
      <div class="col-md-6">
        <div class="form-group">
          <label class="col-sm-2 control-label">Type</label>
          <div class="col-sm-10">
            <select class="form-control">
              <option>Individuel</option>
              <option>Individuel 2</option>
              <option>Individuel 3</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Intitulé</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" placeholder="Text input">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">IBAN</label>
          <div class="col-sm-10">
            <div class="row">
              <div class="col-xs-2">
                <input type="text" class="form-control" placeholder="">
              </div>
              <div class="col-xs-2">
                <input type="text" class="form-control" placeholder="">
              </div>
              <div class="col-xs-2">
                <input type="text" class="form-control" placeholder="">
              </div>
              <div class="col-xs-2">
                <input type="text" class="form-control" placeholder="">
              </div>
              <div class="col-xs-2">
                <input type="text" class="form-control" placeholder="">
              </div>
              <div class="col-xs-2">
                <input type="text" class="form-control" placeholder="">
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">BIC</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" placeholder="CEPAFRPP000">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="col-sm-2 control-label">Adresse</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" placeholder="Banque X place de la bourse">
            <input type="text" class="form-control" placeholder="">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Pays</label>
          <div class="col-sm-10">
            <select class="form-control">
              <option>France</option>
              <option>Portugal</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row well">
      <h5>Titulaire</h5>
      <hr>
      <div class="col-md-6">
        <div class="form-group">
          <label class="col-sm-2 control-label">Nom Prénom</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" placeholder="Text input">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Né(e) le</label>
          <div class="col-sm-10">
            <div class="row">
              <div class="col-md-2">
                <input type="text" class="form-control" placeholder="Text input">
              </div>
              <div class="col-md-2">
                <input type="text" class="form-control" placeholder="Text input">
              </div>
              <div class="col-md-2">
                <input type="text" class="form-control" placeholder="Text input">
              </div>
              <div class="col-md-6">
                <div class="row">
                  <div class="col-xs-2">
                    <span>à</span>
                  </div>
                  <div class="col-xs-10">
                    <input type="text" class="form-control form-inline" placeholder="Paris">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="col-sm-2 control-label">Adresse</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" placeholder="Banque X place de la bourse">
            <input type="text" class="form-control" placeholder="">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Pays</label>
          <div class="col-sm-10">
            <select class="form-control">
              <option>France</option>
              <option>Portugal</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
