<ul class="breadcrumb">
  <li><a ng-href="#/{{banque}}/{{etat}}/accueil">{{filEtat}}</a></li>
  <li class="active">Suivi des anomalies</li>
</ul>

<container-tab-collapse>
  <table class="table table-bordered">
    <thead>
    <tr   ng-class="panelclass">
      <th>N° du mandat</th>
      <th>Signé le</th>
      <th>Etablissement</th>
      <th>IBAN</th>
      <th>Intitulé</th>
      <th>Date Anomalie</th>
      <th>Libellé</th>
      <th>Partenaire</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody ng-repeat="anomalie in anomalies">
    <tr>
      <td>{{anomalie.MandateNumber}}</td>
      <td>{{anomalie.SignedDate}}</td>
      <td>{{anomalie.BIC}}</td>
      <td>{{anomalie.IBAN}}</td>
      <td>{{anomalie.AccountTitle}}</td>
      <td>{{anomalie.ExceptionDate}}</td>
      <td>{{anomalie.InformationDetail}}</td>
      <td>{{anomalie.Partner}}</td>
      <td>
        <a><i class="glyphicon" ng-class="{'glyphicon-search': !showPannel, 'hidden': showPannel}"></i></a>
      </td>
    </tr>
    </tbody>
  </table>

</container-tab-collapse>
