<div class="table-responsive">
  <table class="table table-bordered" style="border-collapse:collapse;">
    <thead>
    <tr>
      <th>N° du mandat</th>
      <th>Signé le</th>
      <th>BIC</th>
      <th>IBAN</th>
      <th>Intitulé du compte</th>
      <th>Statut</th>
      <th>Prochain statut</th>
      <th>Avant</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat-start="mandat in mandats">
      <td>{{mandat.MandateNumber}}</td>
      <td>{{mandat.SignedDate}}</td>
      <td>{{mandat.BIC}}</td>
      <td>{{mandat.IBAN}}</td>
      <td>{{mandat.AccountTitle}}</td>
      <td>{{mandat.Status}}</td>
      <td>{{mandat.NextStatus}}</td>
      <td>{{mandat.Delay}}</td>
      <td>
        <span class="glyphicon glyphicon-plus" ng-click="toogleVisibility()" data-toggle="collapse"></span>
        <span class="glyphicon glyphicon-search"></span>
      </td>
    </tr>
    <tr ng-repeat-end="">
      <td colspan="9" class="hiddenRow tableCollapsed">
        <div class="collapse" id="demo3">
          <table class="table table-bordered text-center">
            <tbody>
            <tr class="active">
              <td class="text-uppercase">Vue opérations</td>
              <td>Prélèvement reçus</td>
              <td>{{mandat.OperationView.NbDirectDebit}}</td>
              <td>Virements émis</td>
              <td>{{mandat.OperationView.NbReceivedCreditTransfer}}</td>
              <td>Virements reçus</td>
              <td>{{mandat.OperationView.NbSentCreditTransfer}}</td>
              <td>Chèques non débités</td>
              <td>{{mandat.OperationView.Nbcheck}}</td>
              <td class="text-center">
                <span class="glyphicon glyphicon-search"></span>
              </td>
            </tr>
            <tr class="active">
              <td class="text-uppercase">Vue émetteurs</td>
              <td>Nombre d’émetteurs</td>
              <td>{{mandat.RemitterView.NbRemitter}}</td>
              <td>Nombre de banques</td>
              <td>{{mandat.RemitterView.NbOfBank}}</td>
              <td>Banques à informer</td>
              <td>{{mandat.RemitterView.BankToNotice}}</td>
              <td>Nombre d’exceptions</td>
              <td>{{mandat.RemitterView.NbOfExceptions}}</td>
              <td>
                <span class="glyphicon glyphicon-search"></span>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
