<ul class="breadcrumb">
  <li><a href="#/{{banque}}/arrive/accueil">Banque d'arrivé</a></li>
  <li><a href="#/{{banque}}/arrive/listeMandats/signe">Mandat signé</a></li>
  <li class="active">Liste des émetteurs</li>
</ul>

<div color-pannel class="panel panel-primary">
  <div class="panel-heading"></div>
  <div class="panel-body">
    <div class="col-md-6">
      <label class="col-sm-4">Mandat n°</label>

      <p class="col-sm-8">{{mandat.MandateNumber}}</p>

      <div class="col-sm-6">
        <label class="col-sm-6">Signé le</label>

        <p class="col-sm-6">{{mandat.SignedDate}}</p>
      </div>
      <div class="col-sm-6">
        <label class="col-sm-4">Etat</label>

        <p class="col-sm-8">{{mandat.Status}}</p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="col-md-12 col-sm-6">
        <label class="col-sm-4">Libellé compte</label>

        <p class="col-sm-8">{{mandat.AccountTitle}}</p>
      </div>

      <div class="col-md-12 col-sm-6">
        <label class="col-sm-2">IBAN</label>

        <p class="col-sm-10">{{mandat.IBAN}}</p>
      </div>
    </div>
  </div>
</div>


<container-collapse ng-repeat="emetteur in emetteurs">
  <pannel-collapse-emetteur title="{{emetteur.Remitter}} | BIC : {{emetteur.BIC}}">
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
        Prelevement : {{emetteur.ListDirectDebitRemitter.length}}
        <tr heading-color>
          <th>RUM</th>
          <th>Type</th>
          <th>Référence Opération</th>
          <th>&nbsp;</th>
          <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="prelevement in emetteur.ListDirectDebitRemitter">
          <td>{{prelevement.RUM}}</td>
          <td>{{prelevement.Type}}</td>
          <td>{{prelevement.Reference}}</td>
          <td ng-bind-html="prelevement.Status | statusFilter">
          <td><span class="glyphicon glyphicon-search"></span></td>
        </tr>
        </tbody>
      </table>
      <table class="table table-bordered">
        <thead>
        Virements Reçus : {{emetteur.ListReceivedCreditTransferRemitter.length}}
        <tr heading-color>
          <th>Référence Opération</th>
          <th>&nbsp;</th>
          <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="virement in emetteur.ListReceivedCreditTransferRemitter">
          <td>{{virement.Reference}}</td>
          <td ng-bind-html="virement.Status | statusFilter">
          <td><span class="glyphicon glyphicon-search"></span></td>
        </tr>
        </tbody>
      </table>
    </div>
  </pannel-collapse-emetteur>
</container-collapse>
