<div class="panel panel-default">
  <div class="panel-body">
    <div class="col-md-6">
      <label class="col-sm-2">Mandat n°</label>
      <label class="col-sm-10">MDT-GFIIFRPPXXX-0001</label>
      <div class="col-sm-6">
        <label class="col-sm-2">Signé le</label>
        <label class="col-sm-10">19/01/2005</label>
      </div>
      <div class="col-sm-6">
        <label class="col-sm-2">Etat</label>
        <label class="col-sm-10">signé</label>
      </div>
    </div>
    <div class="col-md-6">lkjlkj</div>
  </div>
</div>
