<div class="panel panel-default">
  <div class="panel-body">
    <div class="col-md-6">
      <label class="col-sm-4">Mandat n°</label>
      <p class="col-sm-8">MDT-GFIIFRPPXXX-0001</p>
      <div class="col-sm-6">
        <label class="col-sm-4">Signé le</label>
        <p class="col-sm-8">19/01/2005</p>
      </div>
      <div class="col-sm-6">
        <label class="col-sm-4">Etat</label>
        <p class="col-sm-8">signé</p>
      </div>
    </div>
    <div class="col-md-6">lkjlkj</div>
  </div>
</div>
